.Loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;

    p {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        color: #3cefff;
    }

    div {
        display: flex;
        width: 3.5rem;
        height: 3.5rem;
        border: 3px solid transparent;
        border-top-color: #3cefff;
        border-bottom-color: #3cefff;
        border-radius: 50%;
        animation: spin 1.5s linear infinite;
        margin-top: 1rem;
    }

    div:before {
        content: '';
        display: block;
        margin: auto;
        width: 0.75rem;
        height: 0.75rem;
        border: 3px solid #3cefff;
        border-radius: 50%;
        animation: pulse 1s alternate ease-in-out infinite;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes pulse {
        from {
            transform: scale(0.5);
        }

        to {
            transform: scale(1);
        }
    }

}