.cards-container{
  max-width: 100%;
  margin: 0;
  padding: 0;
  grid-area: b;
}
.card {
  margin: 2rem 0;
  border: 1px solid #ccc;
  transition: all .4s ease-in-out;
}
.card:hover{
  border: 1px solid #4c9be8;
}

.author-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}
span{
  margin: .1rem .2rem;
}
p.abstract{
  text-align: justify;
}
.tagsList {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.tag.badge{
  margin-left: 0;
  margin-bottom: 0;
}
.accordion{
  padding: 0 1rem;
}
@media screen and (max-width: 768px) {
  .card {
    max-width: 90%;
    margin: 2rem auto;
  }
}