.card {
  margin-bottom: 2rem;
}

.author-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}
.author-list li {
  margin-right: 1rem;
}
