.cards-container{
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.card {
  margin: 2rem 0;
}

.author-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}
span{
  margin: .1rem .2rem;
}
p.abstract{
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .card {
    max-width: 90%;
    margin: 2rem auto;
  }
}