/* DESKTOP */
h1 {
  padding: 4rem 0 0;
  margin: 0;
  text-align: center;
  font-size: 4.2rem;
  line-height: 3.6rem;
}
.s-title {
  text-align: center;
  font-size: 1rem;
}

div.card-filter-container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas: "a b"
                        ". b";
}

footer {
  text-align: center;
}

/* TABLET */
/* MOBILE */

@media screen and (max-width: 750px) {
  .articlesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .desktop-only {
    display: none;
  }
  div.card-filter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
